/* 
=/=/=/SATURN STARTPAGE=/=/=/=
+ core.css +
+ This file contains all the core css need to make Saturn work properly. 
+ Version: v31.12.2021 +
=/=/=/=/=/=/=
*/

/* 
========
+ Fonts +
+ We're loading all fonts locally to reduce the 
amount of time saturn takes to load +
+ Last updated: 11.10.2021 +
========
*/

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/inter-v7-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/inter-v7-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter-v7-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v7-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/inter-v7-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-v7-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 
========
+ Part of: +
+ normalize.css v8.0.1 | MIT License +
+ github.com/necolas/normalize.css +
========
*/

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="checkbox"] {
  width: 18px;
  height: 17px;
  margin: 6px;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* 
========
+ Core.css previously known as var.css +
+ GNU General Public License v3.0 +
+ github.com/mraif13/saturn-startpage +
+ v4.0.0 CSS Core +
========
*/

* {
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html,
input,
select,
button {
  /* Set body font family and some finicky elements */
  font-family: var(--default-font);
}

body {
  margin: 0 auto;
  max-width: 805px;
  border-radius: var(--sat-border-radius);
  overflow-x: hidden;
  display: block;
  background: var(--sat-bg);
  margin-top: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: var(--sat-ids);
  font-size: 1.03rem;
  line-height: 1.5;
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--sat-heading);
  padding-top: 0.875rem;
}

/* == Shows a small line 
instead of text == */

.line {
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--lighter-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

a {
  text-decoration: none;
  color: var(--sat-links);
}

a:hover {
  color: var(--sat-accent-color1);
  text-decoration: underline;
  transition: var(--transition-speed-fast);
}

/* 
========
+ Set a '?' cursor while hovering an abbreviation +
========
*/

abbr:hover {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* 
========
+ This will probably never get used as Saturn doesn't
have any headers. +
========
*/
header {
  background: var(--sat-search-shortcuts);
  padding: 2rem 1.5rem;
  margin: -2rem calc(0px - (50vw - 50%)) 2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
  border: 1px solid transparent;
  border-radius: var(--sat-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--sat-ids);
}

/* Press effect that happens when you press on buttons.. */

ul.fav_ptgi_category li:active,
.app:active,
.theme-container:active,
.close-button:active,
button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
  cursor: not-allowed;
}

samp,
kbd,
pre {
  background: var(--sat-search-bar-focus);
  padding: 10px 8px;
  font-size: 0.9rem;
  border-radius: 8px;
  box-shadow: var(--drop-shadow-color);
}

code {
  background: var(--sat-search-bar-focus);
  color: var(--for-white);
  padding: 3px 5px;
  font-size: 0.9rem;
  border-radius: 7px;
}

/* 
========
+ Custom kdb styles +
========
*/

kbd {
  font-weight: 600;
  font-family: var(--default-font);
  background: var(--lighter-color);
  color: var(--sat-ids);
  padding: 1px 5px;
  margin: -1px;
  text-align: center;
  font-size: 1rem;
  border-radius: 7px;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  display: block;
  padding: 0.7rem 1rem;
  background-color: var(--lighter-color);
  border-radius: var(--sat-border-radius);
}

details img {
  border-radius: var(--sat-border-radius);
}

summary {
  display: list-item;
  cursor: pointer;
  font-weight: 600;
}

summary:hover {
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-fast);
}

details[open] {
  padding-bottom: 0.75rem;
  transition: var(--transition-speed-fast);
}

details[open] summary {
  margin-bottom: 3px;
}

details[open] > *:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  content: " →";
}

hr {
  border: 0;
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 4px;
}

legend {
  padding: auto 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--sat-search-shortcuts);
}

tr:nth-child(even) {
  background: var(--sat-search-shortcuts);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea {
  max-width: 100%;
}

ol,
ul {
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--sat-txt-selector-clr);
  color: var(--sat-txt-selector-clr-after);
}

textarea,
select,
input {
  padding: 14px 14px;
  margin-bottom: 0.5rem;
  background: var(--sat-search-shortcuts);
  color: var(--sat-ids);
  border: 2px solid transparent;
  border-radius: var(--sat-border-radius);
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
}

.username-section input:hover,
textarea:hover,
select:hover,
input:hover {
  transition: var(--transition-speed-default);
  border: 2px solid var(--sat-accent-color1);
}

textarea:focus,
select:focus,
input:focus {
  border: 2px solid var(--sat-accent-color1);
}

img {
  max-width: 100%;
  border-style: none;
}

/* 
========
+ Saturn Startpage Main Core v4.0.0 +
========
*/

/* == Favorites background stuff == */

#content {
  background: var(--sat-search-shortcuts);
}

.search-bar:hover {
  background: var(--sat-input-hover);
}
.search-bar:focus {
  background: var(--sat-search-bar-focus);
}

/* == Settings background color == */

.wallpaper_modal_content,
.favorites_modal_content,
.sounds-modal-content,
.settings-content {
  background: var(--sat-setting-bg-color);
}

.setting-button,
.app,
.cuteapps,
.removebtn {
  background: var(--sat-search-shortcuts);
}

/* 
========
+ Everything that makes use of a similar
transition speed. +
========
*/
#fav-link a:hover,
.snip-wid button,
.overlay,
.setting-button:hover,
.btn-hide2:hover,
.app:hover,
.slider:before,
.search-bar:hover,
.search-bar:focus .app:hover {
  transition: var(--transition-speed-default);
}

/* == Force the use of while 
color to fix some issues == */

.close-wallpaper:hover,
.save-button:hover,
.cancel-fav-btn:hover,
.removebtn:hover,
.setting-button:hover,
.app:hover {
  color: var(--for-white);
}

.app {
  border: 3px solid transparent;
  background: var(--sat-search-shortcuts);
}

.app:hover {
  border: 3px solid transparent;
  background-color: var(--sat-accent-color1);
}

.closebtn:hover {
  border-color: var(--moreapps-hovering-clr);
}

#fav-link a:hover {
  background-color: var(--favorites-hover);
  transition: var(--transition-speed-default);
}

.removebtn:hover {
  background-color: var(--delete-warning-border);
  border: 1px solid var(--delete-warning-bg);
  transition: var(--transition-speed-default);
}

.close-wallpaper:hover,
.cancel-fav-btn:hover {
  transition: var(--transition-speed-default);
  background-color: #d752524b !important;
  color: var(--delete-warning-bg) !important;
}

/* == Make everything use the 
current color var == */

.setting-button,
.app,
.cuteapps,
.removebtn,
.setting-button i,
#fav-link a:hover,
.container {
  color: var(--sat-ids);
}

/* == Some stuff that require the cursor 
to become a pointer == */
.slider,
ul.tabs li,
.app,
#favorite-links:hover,
.close-button,
.close-sounds,
.close-wallpaper,
.new-close-fav {
  cursor: pointer;
}

/* == Setting up everything to 
use the correct border radius == */
.search-bar,
.app,
.tooltiptext,
#content,
#fav-link li,
#fav-link img,
#fav-link a,
#add-link-form,
#add-link-form input,
#new-link-button button,
#add-link-form button,
.settings-background,
.settings-background-warning {
  border-radius: var(--sat-border-radius);
}

.mobile-warning {
  background-color: var(--delete-warning-bg);
  border-radius: 5px;
  visibility: hidden;
  font-weight: 700;
}
/* 
========
+ Mobile optimizations (work in progress..) +
========
*/

@media (max-width: 68.75em) {
  .wallpaper_modal_content,
  .favorites_modal_content,
  .sounds-modal-content {
    max-width: 90%;
  }

  .settings-content {
    width: 100% !important;
    height: 100% !important;
  }

  ul.tabs li {
    font-size: 12px !important;
  }
  ul.tabs li,
  ul.tabs li.current {
    background: transparent !important;
    width: 40px;
    padding: 10px 20px 1px 5px !important;
    font-size: 0px !important;
  }
  .mobile-warning {
    visibility: visible;
  }
  ul.tabs li i:hover {
    background: var(--sat-search-shortcuts);
    color: var(--sat-accent-color1);
    transition: var(--transition-speed-default);
    box-shadow: 0px 12px 23px -16px var(--drop-shadow-color);
  }
  ul.tabs li i {
    padding: 20px 20px !important;
    font-size: 20px !important;
    border-radius: 10px;
  }

  .tab-content {
    width: 86%;
    margin-left: 45px !important;
  }
  .username-section input {
    width: 50%;
  }
  .fav-content {
    width: 23rem !important;
    height: 36rem !important;
  }
  .settings-title {
    font-size: 1.2rem !important;
  }
  .version-text {
    padding: 5px 5px !important;
    color: var(--sat-accent-color1);
    font-weight: 600;
    text-decoration: none !important;
    font-size: 13px !important;
  }
}
