/* 
========
+ Add your custom css code here. +
+ Think this should be in Saturn? Make a pull request +
========
*/

/* Favorites input title */
.fav_title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.button-container {
  padding-top: 10px;
}
.sat-header {
  padding-top: 100px;
}

label span {
  font-size: 16px;
}

.connection_status {
  display: none;
}

.dropbtn {
  outline: none;
  padding: 11px 13px;
  border-radius: var(--sat-border-radius);
  outline: 4px solid transparent; /* This should be remove for a much more optimized version */
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--sat-setting-bg-color);
  min-width: 215px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
  border: 1px solid var(--lighter-color);
  border-radius: var(--sat-border-radius);
}

.dropdown-content a {
  color: var(--sat-ids);
  border-radius: 10px;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  margin: 4px;
}

.dropdown_redaccent:hover {
  background-color: #d752521e !important;
  color: var(--delete-warning-bg) !important;
  border: 1px solid #d752522c !important;
}

.dropdown-content kbd {
  background-color: var(--lighter-color);
  font-size: 10px;
  border-radius: 5px;
}

.dropdown-content i {
  font-size: 1.2em;
  position: relative;
  top: 0.1em;
}

.dropdown-content svg {
  width: 19px;
  position: relative;
  top: 0.2em;
}

.dropdown-content a:hover {
  background-color: var(--bg-accent-color-lr);
  border: 1px solid var(--bg-accent-color-lr-hover);
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: slide-up-fade-in ease 150ms;
}

.dropdown:hover .dropbtn {
  transition: var(--transition-speed-fast);
  outline: 4px solid var(--settings-button-outline);
  color: var(--sat-ids);
}

.dropdown-seperator {
  width: 100%;
  text-align: left;
  line-height: 0.1em;
  margin: 12px 0 12px;
  border-bottom: 2px solid var(--settings-button-outline);
}

.dropdown-seperator span {
  background-color: var(--sat-setting-bg-color);
  padding: 0 10px;
}
