.morecontainer {
  margin: 0 auto;
  padding: 50px 4px;
}

#cutieapps {
  margin-top: 32px;
}

.cuteapps {
  display: inline-block;
  width: 12%;
  margin: 0 0.5% 18px;
  padding: 4px 20px;
  text-align: center;
  border: 3px solid #1e232cde;
  border-radius: 10px;
  transition: all 0.1s ease;
}

.cuteapps i {
  font-size: 2.6em;
  margin-top: 10px;
}

.cuteapps p {
  font-size: 16px;
  margin-top: 10px;
  transition: 0.2s all ease;
  font-weight: 500;
}
