body {
  box-sizing: border-box;
  padding-top: 45px;
  overflow-x: hidden;
}

.full {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.search-bar {
  width: 100%;
  font-size: 1.2em;
  padding: 15px 50px;
  text-align: left;
  font-weight: 500;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.seach-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  outline: none;
  width: 55px;
  height: 55px;
  margin-top: 1px;
}

.search-bar:hover {
  border: 1px solid #323a4965;
}
.search-bar:focus {
  border: 1px solid #323a49a2;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.fill img {
  flex-shrink: 0;
  width: 199px;
}

.gudmorning {
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.time {
  font-weight: 500;
  text-align: center;
  margin-top: -10px;
  font-size: 15x;
}

.footer {
  margin-top: -5px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/* v0.3 New settings UI. */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #11141db4;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 90ms, opacity 90ms 0s, transform 90ms;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 0.8rem;
  width: 45rem;
  height: 30rem;
  overflow-y: scroll;
  border-radius: 10px;
}
.modal-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.6rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 90ms 0s, transform 90ms;
}
.created-by {
  width: 150px;
  height: auto;
}
/* Dark mode switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
  margin-bottom: 5px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #8da0dab0;
  bottom: 0;
  cursor: pointer;
  left: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  border: 2px solid;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  width: 20px;
}

input:checked + .slider {
  background-color: #303a58;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yourapps {
  text-align: left;
  font-weight: 500;
}

/* Button used to open the seetings page */

.btn-modal {
  outline: none;
  padding: 9px 9px;
  border-radius: 10px;
  float: right;
}
.btn-modal:hover {
  transform: scale(1.1);
}
.external-links {
  text-align: center;
  text-decoration: none;
}
.btn-hide2 {
  margin-right: 10px;
}
.btn-hide2:hover {
  transform: scale(1.1);
}

/* Shortcuts */
#apps {
  margin-top: 10px;
  width: 105%;
}

.app {
  display: inline-block;
  width: 10%;
  margin: 0 0.9% 10px;
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.app i {
  font-size: 2.2rem;
}

/* Tooltip container */
.app {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.app .tooltiptext {
  opacity: 0.9;
  visibility: hidden;
  width: 95px;
  text-align: center;
  padding: 2px 2px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  bottom: 108%;
  left: 50%;
  margin-left: -50px;
}

/* Show tooltip on shortcuts hover */
.app:hover .tooltiptext {
  visibility: visible;
}

/* Beta feature: */

@media (max-width: 600px) {
  .app {
    width: 7%;
    margin: 0 0.7% 15px;
    padding: 12px 20px;
  }
  .app .tooltiptext {
    width: 60px;
    padding: 5px 3px;
    margin-left: -40px;
  }
  .modal-content {
    width: 45%;
    height: 40%;
  }
}

/* partial merge */

/* BLOC */
.dark-mode-bg3,
.dark-mode-bg,
.dark-mode-bg2 {
  padding: 10px;
  border-radius: 10px;
}
.dark-mode-bg2,
.dark-mode-bg3 {
  margin-top: 10px;
}
