/*
Saturn Startpage: Open source & free.
v3 CSS Main.Core
*/

/* 
========
+ Body +
========
*/
body {
  box-sizing: border-box;
  padding-top: 90px;
  overflow-x: hidden;
}

/* 
========
+ Search bar +
========
*/
.search-bar {
  width: 100%;
  font-size: 1.3em;
  padding: 15px 50px;
  text-align: left;
  font-weight: 500;
  box-sizing: border-box;
  outline: none;
  border: 3px solid var(--sat-bg);
  border-radius: 20px;
}

/* 
========
+ The logo inside search engine logo +
========
*/
.search-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  outline: none;
  width: 55px;
  height: 55px;
  margin-top: 4px;
}

.search-engine-logo:hover {
  transform: scale(1.1);
}

.search-bar:hover {
  background-color: var(--new-search-bg-hover-effect);
}

.search-bar:focus {
  border: 3px solid var(--new-search-bg-hover-effect);
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.fill img {
  flex-shrink: 0;
  width: 199px;
}

/* 
========
+ Header good morning text and time +
========
*/
.gudmorning {
  font-weight: 500;
  text-align: left;
  font-size: 45px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time {
  font-weight: 500;
  text-align: left;
  margin-top: -10px;
  font-size: 35px;
}

/* 
========
+ Setting title +
========
*/

.settings-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  text-align: left;
  padding: 20px;
  margin: -15px;
  font-style: normal;
}

/* 
========
+ The modal itself +
========
*/

.modal {
  background-color: #15181f42;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: visibility 0s linear 30ms, opacity 30ms 0s, transform 30ms;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  padding-bottom: 20px;
  width: 77rem;
  height: 35rem;
  overflow-y: scroll;
  border-radius: 20px;
  overflow-y: auto;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 100ms 0s, transform 100ms;
}

/* 
========
+ Everything switch related +
========
*/

.slider-switch-wrapper {
  display: flex;
  align-items: center;
}
.slider-switch {
  display: inline-block;
  position: relative;
  width: 67px;
  height: 36px;
}
.slider-switch input {
  display: none;
}
.slider:hover {
  transition: var(--transition-speed-default);
  border: 1px solid var(--sat-accent-color1);
}

.slider {
  background-color: var(--switch-color-bg-new);
  left: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid var(--switch-color-bg-new);
}

.slider:before {
  background-color: rgb(255, 255, 255);
  content: "";
  left: 5px;
  position: absolute;
  bottom: 5px;
  padding: 12px 12px;
}

input:checked + .slider {
  background: var(--sat-accent-color1);
  border: 1px solid var(--sat-accent-color1);
}

input:checked + .slider:before {
  transform: translateX(29px);
}

.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 100px;
}

.section-title {
  text-align: left;
  font-weight: 600;
}

.setting-button {
  outline: none;
  padding: 12px 10px;
  border-radius: 16px !important;
  float: right;
  outline: 2px solid var(--sat-bg);
  border: 4px solid var(--sat-bg);
}
.setting-button i {
  font-size: 1.2rem;
}

.setting-button:hover {
  transition: var(--transition-speed-fast);
  border: 4px solid var(--settings-button-outline);
}

/* 
========
+ Settings navigation +
========
*/

ul.tabs li {
  font-weight: 500;
  color: var(--sat-ids);
  padding: 12px 20px;
  margin: 5px;
  border-radius: var(--sat-border-radius);
}

ul.tabs li:hover {
  color: var(--sat-ids);
  background: var(--sat-setting-bg-effect);
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
}

ul.tabs li.current {
  background: var(--sat-setting-bg-effect);
  color: var(--sat-ids);
  font-weight: 600;
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
}

ul.tabs li.current i {
  transition: var(--transition-speed-default);
  font-size: 17px;
  background-color: var(--lighter-color);
  padding: 4px;
  border-radius: 10px;
  color: var(--sat-accent-color1);
}

ul.tabs li {
  font-size: 17px;
}
.tab-content {
  display: none;
}

.tab-content h4 i {
  color: var(--sat-accent-color1);
}

.tab-content.current {
  display: inherit;
}

/* 
========
+ App list v2.0 +
========
*/

#apps {
  margin-top: 20px;
  width: 104%;
  align-items: left;
}

.app {
  display: inline-block;
  margin: 5px 1px;
  padding: 15px 45px;
  border-radius: 20px !important;
}

.app i {
  font-size: 2.3rem;
  right: 100%;
}

/* 
========
+ Apps list & apps text +
========
*/

.app {
  position: relative;
  display: inline-block;
}

.app span {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
}

.app i {
  position: relative;
  bottom: 108%;
}

.app-content {
  animation: fadeIn 0.2s ease;
}

.app-content {
  display: none;
}

.app-content h4 i {
  color: var(--sat-accent-color1);
}

.app-content.current {
  display: inherit;
}

/* 
========
+ The IOS 15 like background in settings. +
========
*/

.settings-background {
  margin: 5px;
  margin-bottom: -10px;
  padding: 10px;
  background: var(--sat-setting-bg-effect);
}

.settings-background-warning {
  padding: 10px;
  background: var(--settings-warning-bg);
}

/* 
========
+ Theme Icons (YES, they are just small svg images that i make in figma.) +
========
*/

.theme-icon img {
  width: 150px;
  height: 75px;
  padding: 3px;
  margin: 2px;
  border-radius: 20px;
  position: relative;
}

.theme-icon img:hover {
  transition: var(--transition-speed-default);
  background-color: var(--sat-accent-color1);
  top: -4px;
}

.theme-title {
  font-weight: 500;
  margin: 5px;
}

/* 
========
+ Mobile optimizations +
========
*/

@media (max-width: 900px) {
  .modal-content {
    width: 90%;
    height: 75%;
  }
  ul.tabs li {
    padding: 7px 7px;
  }

  .cuteapps p {
    font-size: 10px;
  }
  .cuteapps i {
    font-size: 2.3em;
    margin-top: 10px;
  }
}

/* 
========
+ The save button for username feature +
========
*/

.save-button {
  padding: 12px 11px;
  outline: none;
  background: var(--lighter-color);
  color: var(--sat-ids);
  font-weight: 410;
  border: 1px solid var(--lighter-color);
}

.save-button:hover {
  background-color: var(--sat-input-hover);
  transition: var(--transition-speed-default);
  border: 1px solid var(--sat-accent-color1);
}

.cancel-fav-btn {
  padding: 12px 11px;
  outline: none;
  color: var(--sat-ids);
}

.saved-msg {
  visibility: hidden;
}

/* 
========
+ The where to next text inside more apps. (top middle one) +
========
*/

.typewritter_1 {
  font-weight: 600;
}

#sv-msg,
#sv-msg2 {
  font-weight: 600;
  font-size: 12px;
}

#sv-msg2 {
  font-size: 14px;
}

.username-section input {
  background-color: var(--lighter-color);
  padding: 13px 10px !important;
  font-size: 15px;
  border: 2px solid var(--sat-search-shortcuts);
}

.username-section input:focus {
  background-color: var(--sat-input-hover);
}

/* 
========
+ Icons in Setting's about section +
========
*/

.social-icons {
  font-size: 35px;
  outline: none;
}

.social-icons:hover {
  color: var(--sat-accent-color1);
}

.small-icons {
  font-size: 20px;
  padding: 10px !important;
  width: 20px;
  cursor: pointer;
}

.settings-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  top: 12px !important;
  position: relative;
}

/* 
========
+ Favorites search feature +
========
*/

.favorites-search input {
  background: var(--sat-search-shortcuts);
  padding: 13px 10px;
  font-weight: 400;
  font-size: 14px;
}

.favorites-search input:hover,
.favorites-search input:focus {
  transition: var(--transition-speed-default);
  background-color: var(--sat-search-bar-focus);
}

.cuteapps:hover {
  color: var(--for-white); /* force white to fix issues */
}

/* 
========
+ Apps List Category +
========
*/

.apps-category {
  margin-top: 20px;
}
ul.apps-category {
  padding: 0px;
  list-style: none;
}

ul.apps-category li,
.more-apps {
  font-weight: 500;
  background: none;
  color: var(--lighter-text-color);
  display: inline-block;
  padding: 6px 9px;
  cursor: pointer;
  border-radius: var(--sat-border-radius);
  border: 2px solid var(--sat-bg);
}

ul.apps-category li:hover,
.more-apps:hover {
  background: var(--sat-search-shortcuts);
  color: var(--sat-ids);
  transition: var(--transition-speed-fast);
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
  font-weight: 600;
}

ul.apps-category li.current {
  background-color: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  font-weight: 600;
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
}

/* 
========
+ Tabs (Settings navigation) +
========
*/
.tabs {
  font-size: 15px;
  margin: 5px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 75px;
  border-radius: var(--sat-border-radius);
}

.tab-content {
  margin-left: 190px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* 
========
+ New About section - simple center +
========
*/

.aboutwidgets,
.new-about,
.new-about img {
  text-align: center;
  font-weight: 500;
}
.socials .app {
  border: 1px solid var(--lighter-color);
}

/* 
========
+ Favorite Modal +
========
*/
.favModal {
  background-color: #0a0a0abd;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: fadeIn 200ms ease;
}

/* Favorite modal Content/Box */
.fav-content {
  background-color: var(--sat-setting-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  padding-bottom: 20px;
  width: 38rem;
  height: 31rem;
  overflow-y: scroll;
  border-radius: 20px;
  overflow-y: auto;
}

/* 
========
+ Optimizations for favorites features.
Currently only images and iframes are fully supported. +
========
*/

/* Improved image support so now they act as icons */
#fav-link img {
  width: 23px;
  height: 22px;
  outline: none;
  vertical-align: middle;
  margin: 0px;
  border-radius: 6px !important;
}
/* Improved iframe support so now they fit properly inside the container */
#fav-link iframe {
  width: 90%;
  height: 30%;
  outline: none;
  vertical-align: middle;
  margin: 0px;
  border: 1px;
  border-radius: 6px !important;
}

#fav-link a {
  text-decoration: none;
  padding: 10px 10px;
  margin: -10px;
  color: var(--sat-ids);
}

/* 
========
+ Favorites V3. +
========
*/

#favorite-links:hover {
  transition: var(--transition-speed-default);
}

ul {
  padding: 0;
  margin: 0px;
}

ul li {
  margin: 0;
  list-style: none;
}

.removebtn {
  border: none;
  background: none;
  float: right;
  margin-top: -5px;
  padding: 8px;
  border-radius: 13px;
}

#content {
  padding: 10px;
  overflow: hidden;
}

#fav-link li {
  padding: 10px;
}
#fav-link li:last-child {
  border: none;
}

.favModal input {
  width: 100%;
  color: var(--sat-ids);
  margin: 5px 0;
  padding: 13px 13px 13px 13px;
  outline: none;
  border: 2px solid var(--add-link-border);
  font-size: 14px;
  border-radius: var(--sat-border-radius);
}

.favModal input:hover,
.favModal input:focus {
  background-color: var(--none);
  border: 2px solid var(--sat-accent-color1);
}
/* Large add favorite button */

.fav-btn button {
  display: block;
  padding: 13px;
  margin-top: 30px;
  font-size: 0.9em;
  font-weight: 450;
  color: var(--sat-ids);
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
  width: 100%;
}

.fav-btn button:hover {
  border: 1px solid var(--sat-accent-color1);
}

/* Every close button uses this */

.close-button {
  font-size: 25px;
  float: right;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 100px;
}

.close-button i {
  display: block;
  text-align: center;
}

.close-button:hover {
  color: var(--sat-ids);
  background-color: var(--favorites-hover);
  transition: var(--transition-speed-default);
}

/* Header inside Favorites */
.fav-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/* Favorites input title */
.fav_title {
  font-weight: 450;
  font-size: 15px;
}

/* Hiding the background color for cancel button */

.cancel-fav-btn {
  background-color: var(--sat-setting-bg-color);
}
