/*
Saturn Startpage: Open source & free.
v2 CSS
*/

body {
  box-sizing: border-box;
  padding-top: 20px;
  overflow-x: hidden;
}

.search-bar {
  width: 100%;
  font-size: 1.2em;
  padding: 15px 50px;
  text-align: left;
  font-weight: 500;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.search-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  outline: none;
  width: 55px;
  height: 55px;
  margin-top: 1px;
}
.search-engine-logo:hover {
  transform: scale(1.1);
}

.search-bar:hover {
  border: 1px solid #323a4965;
}
.search-bar:focus {
  border: 1px solid #323a49a2;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.fill img {
  flex-shrink: 0;
  width: 199px;
}

.gudmorning {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time {
  font-weight: 500;
  text-align: center;
  margin-top: -10px;
  font-size: 18px;
}

/* V1.0 Settings page - (Unstable) */

/* Snippet widgets */

.snip-button {
  position: absolute;
  width: 48px;
  height: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.text-center {
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  padding: 20px;
  font-style: normal;
}

/* Settings */

.modal {
  background-color: #15181fd8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 40ms, opacity 40ms 0s, transform 40ms;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  width: 60rem;
  height: 35rem;
  overflow-y: scroll;
  border-radius: 20px;
}
.modal-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 245ms 0s, transform 245ms;
}

/* Settings: Dark mode switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  position: relative;
  width: 66px;
  height: 33px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #373d47;
  cursor: pointer;
  left: 2px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider:before {
  border: 3px solid #fff;
  content: "";
  left: 7px;
  position: absolute;
  bottom: 5px;
  width: 17px;
  height: 17px;
}

input:checked + .slider {
  background-color: #09508680;
}

input:checked + .slider:before {
  transform: translateX(29px);
}

.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 100px;
}

.yourapps {
  text-align: left;
  font-weight: 500;
}

/* Button used to open the settings page */

.button-modal {
  outline: none;
  padding: 8px 8px;
  border-radius: 10px;
  float: right;
  outline: 2px solid var(--sat-bg);
  border: 2px solid var(--sat-search-shortcuts);
}
.button-modal i {
  font-size: 1.2rem;
}

.button-modal:hover {
  outline: 3px solid var(--sat-tooltip-bg);
}

.external-links {
  text-decoration: none;
}
.external-links:hover {
  color: var(--sat-accent-color1);
  text-decoration: underline;
}

/* Settings navigation */
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  font-weight: 500;
  background: none;
  color: var(--sat-ids);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 14px;
}

ul.tabs li:hover {
  color: var(--sat-ids);
  background: var(--sat-setting-bg-effect);
  transition: var(--transition-speed-default);
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
}

ul.tabs li.current {
  background: var(--sat-setting-bg-effect);
  color: var(--sat-ids);
  font-weight: 500;
  box-shadow: 1px 16px 25px 1px var(--drop-shadow-color);
}

.tab-content {
  display: none;
  background: var(--sat-setting-bg-effect);
  border-radius: 15px;
  padding: 10px;
}

.tab-content h4 i {
  color: var(--sat-accent-color1);
}

.tab-content.current {
  display: inherit;
}

/* Shortcuts */
#apps {
  margin-top: 10px;
  width: 105%;
}

.app {
  display: inline-block;
  width: 10%;
  margin: 0 0.9% 10px;
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.app i {
  font-size: 2.2rem;
}

/* Tooltip container */
.app {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.app .tooltiptext {
  opacity: 0.9;
  visibility: hidden;
  width: 95px;
  text-align: center;
  padding: 2px 2px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  bottom: 108%;
  left: 50%;
  margin-left: -50px;
}

/* Show tooltip on shortcuts hover */
.app:hover .tooltiptext {
  visibility: visible;
}

/* More apps */

.morecontainer {
  margin: 0 auto;
  padding: 30px 4px;
}

#cutieapps {
  margin-top: 30px;
}

.cuteapps {
  display: inline-block;
  width: 12%;
  margin: 0 0.5% 19px;
  padding: 4px 20px;
  text-align: center;
  border-radius: 10px;
}

.cuteapps i {
  font-size: 2.6em;
  margin-top: 10px;
}

.cuteapps p {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500;
}
/* Overlay + typewriter effect */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.snip-wid div:hover,
#favorite-links:hover {
  cursor: pointer;
  transition: var(--transition-speed-default);
}

#more {
  display: none;
  transition: 0.2s;
}

.em-links {
  text-decoration: none;
}

.em-links:hover {
  color: var(--sat-ids);
}

.snip-wid button {
  padding: 9px 9px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  margin: 2px;
  font-weight: 500;
  border: 2px solid var(--sat-setting-bg-effect);
}

/* Clear floats (clearfix hack) */
.snip-wid:after {
  content: "";
  clear: both;
  display: table;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 0px;
}

ul li {
  margin: 0;
  list-style: none;
}

.removebtn {
  border: none;
  background: none;
  float: right;
  margin-top: -5px;
  padding: 8px;
  border-radius: 10px;
}

#content {
  border-radius: 10px;
  padding: 8px;
}

#fav-link li {
  padding: 10px;
  border-radius: 10px;
}

#fav-link li:last-child {
  border: none;
}

#fav-link a {
  text-decoration: none;
  padding: 10px 10px;
  margin: -10px;
  border-radius: 10px;
  color: var(--sat-ids);
}

#add-link-form {
  display: none;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

#add-link-form input {
  color: var(--sat-ids);
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  border: 2px solid var(--add-link-border);
}
#add-link-form input:hover {
  border: 2px solid rgb(73, 89, 95);
  transition: var(--transition-speed-default);
}

#add-link-form input:focus {
  border: 2px solid var(--sat-accent-color1);
}

#new-link-button button,
#add-link-form button {
  display: block;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
}

#new-link-button button:hover,
#add-link-form button:hover {
  background-color: var(--reddit-hover-color);
  transition: var(--transition-speed-default);
  color: var(--sat-ids);
}
