body {
  box-sizing: border-box;
  padding-top: 45px;
  overflow-x: hidden;
}

.full {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.search-bar {
  width: 100%;
  font-size: 1.2em;
  padding: 15px 50px;
  text-align: left;
  font-weight: 500;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.seach-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  outline: none;
  width: 55px;
  height: 55px;
  margin-top: 1px;
}

.search-bar:hover {
  border: 1px solid #323a4965;
  transition: 0.2s;
}
.search-bar:focus {
  border: 1px solid #323a49a2;
  transition: 0.2s;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.fill img {
  flex-shrink: 0;
  width: 199px;
}

.gudmorning_username {
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}
.time {
  font-weight: 500;
  text-align: center;
  margin-top: -10px;
  font-size: 15x;
}

.footer {
  margin-top: -5px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/* v0.2 New settings UI. */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem 1rem;
  width: 45%;
  overflow: auto;
  border-radius: 10px;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Dark mode switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
  margin-bottom: 5px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #8da0dab0;
  bottom: 0;
  cursor: pointer;
  left: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  border: 2px solid;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

input:checked + .slider {
  background-color: #303a58;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.yourapps {
  text-align: left;
  font-weight: 500;
}

/* Button used to open the seetings page */

.btn-modal,
.btn-hide2 {
  outline: none;
  padding: 9px 9px;
  border-radius: 10px;
  float: right;
}
.btn-modal:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.external-links {
  text-align: center;
  text-decoration: none;
}
.btn-hide2 {
  margin-right: 10px;
}
.btn-hide2:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

/* Apps Shortcuts */
#apps {
  margin-top: 10px;
  width: 105%;
}

.app {
  display: inline-block;
  width: 10%;
  margin: 0 0.9% 10px;
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.app:hover {
  transform: scale(1.1);
  transition: 100ms;
}

.app i {
  font-size: 2.2rem;
}

/* Tooltip container */
.app {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.app .tooltiptext {
  opacity: 0.9;
  visibility: hidden;
  width: 100px;
  text-align: center;
  padding: 2px 3px;
  border-radius: 10px;
  font-size: 1em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 60%;
  margin-left: -60px;

  /* Fade in tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.app:hover .tooltiptext {
  visibility: visible;
}
@media (max-width: 600px) {
  .app {
    width: 7%;
    margin: 0 0.7% 15px;
    padding: 12px 20px;
  }
  .app .tooltiptext {
    width: 60px;
    padding: 5px 3px;
    margin-left: -40px;
  }
  .modal-content {
    width: 45%;
    height: 40%;
  }
}
