/*
Saturn Startpage: Open source & free.
v3.1 CSS Main.Core
*/

/* 
========
+ Search bar +
========
*/
.search-bar {
  width: 100%;
  font-size: 1.3em;
  padding: 20px 48px;
  text-align: left;
  font-weight: 500;
  box-sizing: border-box;
  outline: none;
  border: 3px solid transparent;
  border-radius: 20px;
}

/* 
========
+ The logo inside search engine logo +
========
*/

.search-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  margin-top: 4px;
}

.search-engine-logo:hover {
  transform: scale(1.1);
}

.search-bar:hover {
  background-color: var(--new-search-bg-hover-effect);
  border: 3px solid var(--sat-accent-color1);
}

.search-bar:focus {
  border: 3px solid var(--sat-accent-color1);
  background-color: var(--new-search-bg-hover-effect);
}

/* 
========
+ Header good morning text and time +
========
*/

.good_morning {
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time {
  font-weight: 700;
  text-align: center;
  font-size: 62px;
}

.time span {
  color: var(--sat-accent-color1);
  animation: blinker 1s linear infinite;
}

/* New blinker effect! */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* 
========
+ Setting title +
========
*/

.settings-title {
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
  padding: 20px;
}

/* 
========
+ The modal itself +
========
*/

.fav_modal,
.settings_modal,
.sounds_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: visibility 0s linear 150ms, opacity 150ms 0s, transform 150ms;
}

.favorites_modal_content,
.settings-content,
.sounds-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
  border: 1px solid var(--lighter-color);
}

.sounds-modal-content {
  width: 30rem;
  height: 21rem;
}

.settings-content {
  width: 77rem;
  height: 35rem;
}

.favorites_modal_content {
  width: 40rem;
  height: 33rem;
}

.show-favorite-modal,
.show-sounds-modal,
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 150ms 0s, transform 150ms;
}

/* 
========
+ Everything switch related +
========
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lighter-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--sat-accent-color1);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--sat-accent-color1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.section-title {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: var(--sat-ids);
}

.sounds-button,
.setting-button {
  outline: none;
  padding: 12px 12px;
  margin: 4px;
  border-radius: 13px !important;
  float: right;
  outline: 4px solid transparent; /* This should be remove for a much more optimized version */
}

.sounds-button i,
.setting-button i {
  font-size: 1.2rem;
}

.control-button:hover,
.audio-button:hover,
.sounds-button:hover,
.setting-button:hover {
  transition: var(--transition-speed-fast);
  outline: 4px solid var(--settings-button-outline);
}

/* 
========
+ Settings navigation +
========
*/

ul.tabs li {
  color: var(--sat-ids);
  padding: 10px 45px;
  margin-left: 10px;
  border-radius: var(--sat-border-radius);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-left: 3px solid transparent;
}

ul.tabs li:hover {
  color: var(--sat-ids);
  background: var(--sat-setting-bg-effect);
  background: var(--sat-setting-bg-effect);
  border-left: 3px solid var(--sat-accent-color-lighter);
  color: var(--sat-accent-color1);
}

ul.tabs li.current {
  background: var(--sat-setting-bg-effect);
  border-left: 3px solid var(--sat-accent-color1);
  color: var(--sat-accent-color1);
  font-weight: 500;
}

ul.tabs li {
  font-size: 17px;
}

.tab-content {
  display: none;
  animation: slide-up-fade-in ease 0.2s;
}

.tab-content h4 i {
  color: var(--sat-accent-color1);
}

.tab-content.current {
  display: inherit;
}

/* 
========
+ App list v2.5 +
========
*/

#apps {
  margin-bottom: 15px;
  margin-top: 20px;
  width: 104%;
  align-items: left;
}

.app {
  margin: 5px 2px;
  padding: 15px 45px;
  border-radius: 20px;
}

.app i {
  font-size: 2.3rem;
  right: 100%;
}
/* 
========
+ Apps list & apps text +
========
*/

.app {
  position: relative;
  display: inline-block;
}

.app span {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
}

.app svg {
  margin: 0;
  position: absolute;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
}

.app i {
  position: relative;
  bottom: 108%;
}

.page-content,
.app-content {
  display: none;
}

.page-content.current,
.app-content.current {
  display: inherit;
}

/* 
========
+ The iOS 15 like background in settings. +
========
*/

.settings-background {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  background: var(--sat-setting-bg-effect);
}

.settings-background-warning {
  padding: 10px;
  background: var(--settings-warning-bg);
}

/* 
========
+ Theme Icons (No longer figma made, instead we're using a screenshot of the theme) +
========
*/

.theme-icon {
  margin: -2.5px;
  border-radius: 13px;
  height: 4.5rem;
  margin-bottom: 0.1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

div.theme-container {
  display: table;
  padding: 2.5px 0px;
  margin: 2px;
  border-radius: var(--sat-border-radius);
  display: inline-block;
  text-align: center;
  border: 3px solid var(--lighter-color);
  cursor: pointer;
}

.theme-container:hover {
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
  border: 3px solid var(--sat-accent-color1);
}

.theme-name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-top: -0.5px;
}

.theme-title {
  font-weight: 500;
  margin: 5px;
}

.theme-title i {
  background-color: var(--lighter-color);
  padding: 4px;
  border-radius: 10px;
  color: var(--sat-accent-color1);
}

/* 
========
+ The save button for username feature +
========
*/

.save-button {
  padding: 14px 15px;
  background: var(--lighter-color);
  color: var(--sat-ids);
}

.save-button:hover {
  background: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}

.cancel-fav-btn {
  padding: 14px 15px;
  outline: none;
  color: var(--sat-ids);
}

/* 
========
+ The where to next text inside more apps. (top middle one) +
========
*/
.username-section input {
  background-color: var(--lighter-color);
  padding: 15px;
  font-size: 15px;
  border: 1px solid transparent;
}

/* 
========
+ Consistent UI / Input bars +
========
*/

.favorites-search input,
.username-section input {
  border: 2px solid transparent;
}

.fav_ptgi_btn:hover, /* added this to make the hover animation similar */
.favorites-search input:hover,
.favorites-search input:focus,
.fav_modal input:hover,
.fav_modal input:focus,
.username-section input:focus,
.username-section input:hover {
  border: 2px solid var(--sat-accent-color1);
  transition: var(--transition-speed-fast);
}

.fav_modal input {
  width: 100%;
  color: var(--sat-ids);
  margin: 5px 0;
  padding: 16px 15px;
  outline: none;
  border: 2px solid transparent;
  font-size: 14px;
  border-radius: var(--sat-border-radius);
}

/* 
========
+ Icons in Setting's about section +
========
*/

.small-icons {
  font-size: 20px;
  padding: 10px !important;
  width: 20px;
  cursor: pointer;
}

.settings-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  top: 12px !important;
  position: relative;
}

/* 
========
+ Favorites search feature +
========
*/

.favorites-search input {
  margin-top: 15px;
  background: var(--sat-search-shortcuts);
  padding: 13px 13px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 13px;
}

/* 
========
+ Apps List Category +
========
*/
.apps-category {
  margin-top: 20px;
}

ul.apps-category {
  padding: 0px;
  list-style: none;
}

ul.apps-category li {
  font-size: 16px;
  background: none;
  display: inline-block;
  padding: 7px 9px;
  cursor: pointer;
  border-radius: var(--sat-border-radius);
}

ul.apps-category li:hover {
  background: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}

ul.apps-category li.current {
  background-color: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  font-weight: 500;
}

/* 
========
+ Tabs (Settings navigation) +
========
*/

.tabs {
  margin: -10px;
  margin-top: -5px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 99px;
  border-radius: var(--sat-border-radius);
}

.tab-content {
  margin-left: 180px; /* Same as the width of the sidebar */
  margin-top: 31px;
  padding: 0px 10px;
}

/* 
========
+ New About section - simple center +
========
*/

.aboutwidgets,
.new-about,
.new-about img {
  text-align: center;
}

.socials .app:hover {
  transition: var(--transition-speed-default);
}
/* 
========
+ Favorite Modal +
========
*/

/* 
========
+ Optimizations for favorites features.
+ favorite support +
+ WIP, I'm currently adding more and more support. +
========
*/
/* Improved image support so now they act as icons */

.fav-livepreview img,
.fav-livepreview svg,
#fav-link img,
#fav-link svg {
  width: 23px;
  height: 22px;
  outline: none;
  vertical-align: middle;
  margin: 0px;
  border-radius: 0px !important;
}

/* Improving SVG support */
.fav-livepreview svg,
#fav-link svg {
  filter: var(--svg-invert);
}

.fav-livepreview img,
#fav-link img {
  background: transparent; /* This should fix some backgrounds having a white background instead of being transparent. */
  padding: 3px;
}

/* Iframes will be hidden by default because they don't work on firefox. */

.fav-livepreview iframe,
#fav-link iframe {
  visibility: hidden;
}

#fav-link a {
  text-decoration: none;
  padding: 10px 10px;
  margin: -10px;
  color: var(--sat-ids);
}

/* 
========
+ Favorites V3. +
========
*/

#favorite-links:hover {
  transition: var(--transition-speed-default);
}

ul {
  padding: 0;
  margin: 0px;
}

ul li {
  margin: 0;
  list-style: none;
}

.removebtn {
  float: right;
  margin-top: -5px;
  padding: 10px;
  border-radius: 13px;
  border: 1px solid transparent;
}

.newtabbtn {
  float: right;
  margin-top: -5px;
  padding: 10px;
  border-radius: 13px;
  visibility: visible; /* Force visibility to fix issues */
  border: 1px solid transparent;
}

.newtabbtn:hover {
  border: 1px solid var(--sat-accent-color1);
  background-color: var(--sat-accent-color-lighter);
  transition: var(--transition-speed-default);
}

#content {
  padding: 10px;
  overflow: hidden;
}

#fav-link li {
  padding: 10px;
}
#fav-link li:last-child {
  border: none;
}

/* Large add favorite button */

.favorite-button {
  padding: 13px 12px;
  font-weight: 500;
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
}

.favorite-button:hover {
  background-color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
  color: var(--for-white);
}

/* Every close button uses this */

.close-button {
  font-size: 25px;
  float: right;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 100px;
}

.close-sounds {
  font-size: 25px;
  float: right;
  padding: 5px;
  margin: 10px;
  border-radius: 100px;
}

.close-sounds i,
.close-button i {
  display: block;
  text-align: center;
}

.close-sounds:hover,
.close-button:hover {
  color: var(--close-button-color);
  background-color: var(--delete-warning-bg);
  transition: var(--transition-speed-default);
}

/* Header inside Favorites */
.fav-title {
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

/* Favorites input title */
.fav_title {
  font-weight: 450;
  font-size: 14px;
}

/* Hiding the background color for cancel button */

.cancel-fav-btn {
  background-color: var(--sat-setting-bg-color);
}

/* 
========
+ "Get Icon feature" [Part of Favorites]+
========
*/

.fav_ptgi_category {
  margin-top: 9px;
  margin-bottom: 9px;
}

ul.fav_ptgi_category {
  padding: 0px;
  list-style: none;
}

ul.fav_ptgi_category li {
  font-size: 15px;
  background: var(--sat-search-shortcuts);
  color: var(--lighter-text-color);
  display: inline-block;
  padding: 6px 9px;
  cursor: pointer;
  border-radius: var(--sat-border-radius);
  border: 2px solid transparent;
}

.fav_ptgi_btn:hover {
  background: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-fast);
}

/* 
========
+ Snackbar +
========
*/

#default_layout,
#compact_layout,
#saveMsgBar,
#save_username {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--sat-setting-bg-color);
  color: var(--sat-ids);
  text-align: center;
  border-radius: var(--sat-border-radius);
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 47%;
  bottom: 30px;
  font-size: 15px;
  font-weight: 500;
}

/* Align save username snackbar to the center */
#save_username {
  left: 40%;
  bottom: 30px;
}

#default_layout,
#compact_layout {
  bottom: 10px !important;
}

#saveMsgBar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#save_username.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.9s 4.5s;
  animation: fadein 0.5s, fadeout 0.9s 4.5s;
}

#default_layout.show,
#compact_layout.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Text on the bottom of favorites modal. */
.side-text {
  text-align: center;
}

/* 
========
+ This fixes a major hover issue related to favorites. +
+ This code just prevents a small bar from 
appearing when the user hovers on the open in new tab button.
+ This is a "hack" and will need to be completely fix in the future. +
========
*/

.hide_fav_bar {
  visibility: hidden;
}

.hide_fav_bar:hover {
  visibility: hidden;
}

/* 
========
+ Used to fix issues with new search icons +
+ Works on any SVG +
========
*/

.se_icon {
  filter: var(--svg-invert);
}

/* 
========
+ Quote +
========
*/
.quote {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
  margin-top: -10px;
}

/* 
========
+ Favorites live preview +
========
*/
.fav-livepreview {
  border: 3px solid var(--sat-search-shortcuts);
  color: var(--sat-ids);
  padding: 20px 10px;
  border-radius: 15px;
}

.fav-livepreview svg {
  width: 23px;
  height: 22px;
  outline: none;
  vertical-align: middle;
  margin: 0px;
  border-radius: 0px !important;
}

.small_text {
  font-size: 14px;
  font-weight: 500;
}

.colored i {
  color: var(--sat-accent-color1) !important;
}

/* 
========
+ Used for spacing +
========
*/

.buttons-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
========
+ New settings layout & design improvements +
========
*/

.settings-item-title {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px !important;
}

.settings-item-under-title {
  font-size: 17px;
  margin-top: -15px;
  margin-left: 10px !important;
}

.description {
  color: var(--sat-lighter-ids) !important;
  font-size: 16px;
}

/* 
========
+ Soundboard +
========
*/
.pause {
  color: var(--sat-accent-color1);
}

.pause i {
  animation: blinker 2.5s linear infinite;
}

.control-button {
  font-size: 20px;
  border-radius: 13px;
  width: 49%;
  margin-top: 25px;
  outline: 4px solid transparent; /* This should be remove for a much more optimized version */
}

.soundboard-container {
  display: inline-block;
}

.audio-button {
  font-size: 45px;
  display: block;
}

.audio-button {
  outline: none;
  padding: 10px 15px;
  margin: 4px;
  margin-top: 15px;
  border-radius: 13px !important;
  outline: 4px solid transparent; /* This should be remove for a much more optimized version */
  display: block;
  display: inline-block;
}

/* Used to fix some bugs */

.center-content {
  display: inline-block;
}
