/* Saturn's theme engine v3. */

/* Light theme */
.light {
  --sat-heading: #000000; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #1a1a1a; /* Every icon and text apart from links and above. */
  --sat-bg: #f9f9fb; /* Main background */
  --sat-search-shortcuts: #e6e6e6; /* Favorites, app list & search, inputs. */
  --sat-links: #1a1a1a;
  --sat-txt-selector-clr: #000000;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #eeeeee;
  --sat-setting-bg-effect: #dddddddc;
  --sat-input-hover: #b1b1b1;
  --sat-search-bar-focus: #999999;
  --sat-tooltip-bg: #c0c0c0;
  --default-font: "Poppins", sans-serif;
  --sat-border-radius: 15px;
  --gudmrning-txt: linear-gradient(to right, #3a3a3a, #474747);
  --sat-accent-color1: #000000;
  --moreapps-hovering-clr: #000000;
  --favorites-hover: #c4c4c4;
  --for-white: #ffffff;
  --add-link-border: rgb(150, 151, 151);
  --settings-warning-bg: rgba(247, 247, 1, 0.322);
  --delete-warning-bg: rgba(231, 19, 19, 0.644);
  --switch-color-bg: #c0c0c0;
  --settings-button-outline: #bbbbbb;
  --new-search-bg-hover-effect: rgb(177, 177, 177);
  --lighter-color: rgb(
    196,
    196,
    196
  ); /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
/* New dark theme */
.dark {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: #0c0d11;
  --sat-search-shortcuts: #15181f;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #262a36;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #0c0d11;
  --sat-setting-bg-effect: #12161d;
  --sat-input-hover: #2b323d;
  --sat-search-bar-focus: #1e232c;
  --sat-tooltip-bg: #181b22;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #4facfe 0%, #1783e2 100%);
  --sat-accent-color1: hsl(208, 67%, 56%);
  --moreapps-hovering-clr: #4190d4;
  --favorites-hover: #232931;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #1a1f25;
  --delete-warning-bg: rgba(197, 42, 42, 0.76);
  --switch-color-bg: #2f343d;
  --switch-color-bg-after: #0080e250;
  --settings-button-outline: #232933;
  --new-search-bg-hover-effect: #1e222b;
  --sat-border-radius: 15px;
  --switch-color-bg: #303846de;
  --lighter-color: #191d25; /* Every that needs a light background color */

  /* Transitions */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Space theme */

.space {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #0e0e0e; /* Main background */
  --sat-search-shortcuts: #181818; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  --sat-txt-selector-clr: #ffb07d; /* Text selector background color */
  --sat-txt-selector-clr-after: #ffffff; /* Text selector color */
  --sat-setting-bg-color: #0e0e0e; /* Settings background color */
  --sat-setting-bg-effect: rgba(
    24,
    24,
    24,
    0.904
  ); /* Settings options background color */
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222222; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #ffb07d 0%, #e9772a 100%);
  --sat-accent-color1: #ffb07d;
  --moreapps-hovering-clr: #ffb07d;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(41, 41, 41); /* Favorite input border color */
  --delete-warning-bg: rgba(
    197,
    42,
    42,
    0.76
  ); /* Favorite delete button color */
  --switch-color-bg: #252525;
  --switch-color-bg-after: #ffb07d;
  --switch-color-bg: rgba(48, 48, 48, 0.904);
  --settings-button-outline: #252525; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #353535; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Linkin park theme (BETA) */

.linkin-park {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: url(/img/rock-legend-bg.png);
  --sat-search-shortcuts: #181818f5;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #686868;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #0e0e0e;
  --sat-setting-bg-effect: rgb(24, 24, 24);
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #e6dada, #274046);
  --sat-accent-color1: #686868;
  --moreapps-hovering-clr: #686868;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(43, 52, 56);
  --delete-warning-bg: rgba(197, 42, 42, 0.76);
  --switch-color-bg: #252525;
  --switch-color-bg-after: #686868;
  --settings-button-outline: #252525;
  --new-search-bg-hover-effect: #2e2e2e;
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
