/* Saturn's theme engine v3. */

.light {
  --sat-heading: #1a1a1a; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #1a1a1a; /* Every icon and text apart from links and above. */
  --sat-bg: #fafafa; /* Main background */
  --sat-bg-borders: #fafafa; /* Same as background color, but used inside of settings-button and app */
  --sat-search-shortcuts: #e4e4e4; /* Favorites, app list & search, inputs. */
  --sat-links: #1a1a1a; /* Links and stuff */
  --sat-setting-bg-color: #eeeeee; /* Settings background color */
  --sat-setting-bg-effect: #dddddddc; /* Settings options background color */
  --sat-input-hover: #b1b1b1;
  --sat-search-bar-focus: #999999;
  --sat-tooltip-bg: #c0c0c0; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --sat-border-radius: 15px;
  --gudmrning-txt: linear-gradient(to right, #000000 0%, #646464 100%);
  --sat-accent-color1: #000000;
  --moreapps-hovering-clr: #000000;
  --favorites-hover: #c4c4c4;
  --switch-color-bg-new: #919191;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(247, 247, 1, 0.322);
  --add-link-border: rgb(150, 151, 151); /* Favorite input border color */
  --delete-warning-bg: #d55454; /* Favorite delete button color */
  --switch-color-bg-after: #000000;
  --switch-color-bg: #adadad;
  --settings-button-outline: #bbbbbb; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: rgb(199, 199, 199);
  --lighter-color: rgb(
    196,
    196,
    196
  ); /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
/* New dark theme */
.dark {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: #0c0d11;
  --sat-bg-borders: #0c0d11;
  --sat-search-shortcuts: #15181f;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #262a36;
  --sat-setting-bg-color: #0c0d11;
  --sat-setting-bg-effect: #12161d;
  --sat-input-hover: #2b323d;
  --sat-search-bar-focus: #1e232c;
  --sat-tooltip-bg: #181b22;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #4facfe 0%, #1783e2 100%);
  --sat-accent-color1: hsl(208, 67%, 56%);
  --moreapps-hovering-clr: #4190d4;
  --favorites-hover: #232931;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #1a1f25;
  --delete-warning-bg: #d55454;
  --switch-color-bg-new: #2f343d;
  --switch-color-bg-after: #0080e250;
  --settings-button-outline: #232933;
  --new-search-bg-hover-effect: #1e222b;
  --sat-border-radius: 15px;
  --switch-color-bg: #303846de;
  --lighter-color: #191d25; /* Every that needs a light background color */

  /* Transitions */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Space theme */

.space {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #0f0f0f; /* Main background */
  --sat-bg-borders: #0f0f0f;
  --sat-search-shortcuts: #181818; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  --sat-txt-selector-clr: #ffb07d; /* Text selector background color */
  /* Text selector color */
  --sat-setting-bg-color: #0e0e0e; /* Settings background color */
  --sat-setting-bg-effect: rgba(
    24,
    24,
    24,
    0.904
  ); /* Settings options background color */
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222222; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #ffb07d 0%, #e9772a 100%);
  --sat-accent-color1: #ffb07d;
  --moreapps-hovering-clr: #ffb07d;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(41, 41, 41); /* Favorite input border color */
  --delete-warning-bg: #d55454; /* Favorite delete button color */
  --switch-color-bg-new: #303030;
  --switch-color-bg-after: #ffb07d;
  --switch-color-bg: rgba(48, 48, 48, 0.904);
  --settings-button-outline: #252525; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #353535; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Linkin park theme (BETA) */

.linkin-park {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: url(/img/linkin-park.png);
  --sat-bg-borders: #0e0e0e;
  --sat-bg-fix: #0e0e0e;
  --sat-search-shortcuts: #181818f5;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #686868;
  --sat-setting-bg-color: #0e0e0e;
  --sat-setting-bg-effect: rgb(24, 24, 24);
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #e6dada, #274046);
  --sat-accent-color1: #686868;
  --moreapps-hovering-clr: #686868;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(43, 52, 56);
  --delete-warning-bg: #d55454;
  --switch-color-bg-new: #303030;
  --switch-color-bg-after: #686868;
  --settings-button-outline: #252525;
  --new-search-bg-hover-effect: #2e2e2e;
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* lighterdarktheme theme */

.lighterdarktheme {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #212427; /* Main background */
  --sat-bg-borders: #212427;
  --sat-search-shortcuts: #282c31; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  --sat-txt-selector-clr: hsl(
    208,
    67%,
    56%
  ); /* Text selector background color */
  /* Text selector color */
  --sat-setting-bg-color: #212427; /* Settings background color */
  --sat-setting-bg-effect: #262a2e; /* Settings options background color */
  --sat-input-hover: #3e4349;
  --sat-search-bar-focus: #3e4349;
  --sat-tooltip-bg: #3e4349; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #4facfe 0%, #1783e2 100%);
  --sat-accent-color1: hsl(208, 67%, 56%);
  --moreapps-hovering-clr: hsl(208, 67%, 56%);
  --favorites-hover: #3e4349;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #3e4349; /* Favorite input border color */
  --delete-warning-bg: #d55454; /* Favorite delete button color */
  --switch-color-bg-new: #3e4349;
  --switch-color-bg-after: #ffb07d;
  --switch-color-bg: rgba(48, 48, 48, 0.904);
  --settings-button-outline: #3e4349; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #3e4349; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #2f3338; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Dracula theme */

.dracula {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #282a36; /* Main background */
  --sat-bg-borders: #282a36;
  --sat-search-shortcuts: #343644; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  --sat-txt-selector-clr: hsl(
    208,
    67%,
    56%
  ); /* Text selector background color */
  /* Text selector color */
  --sat-setting-bg-color: #282a36; /* Settings background color */
  --sat-setting-bg-effect: #323442; /* Settings options background color */
  --sat-input-hover: #606581;
  --sat-search-bar-focus: #44485c;
  --sat-tooltip-bg: #3e4349; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #ff79c6 0%, #bd93f9 100%);
  --sat-accent-color1: hsl(265 89% 78%);
  --moreapps-hovering-clr: hsl(265 89% 78%);
  --favorites-hover: #5c6079;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #575b75; /* Favorite input border color */
  --delete-warning-bg: #d55454; /* Favorite delete button color */
  --switch-color-bg-new: #525468;
  --switch-color-bg: #44475a;
  --settings-button-outline: #44485c; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #44485c; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #404252; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Nord theme */

.nord {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #2e3440; /* Main background */
  --sat-bg-borders: #2e3440;
  --sat-search-shortcuts: #3b4252; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  /* Text selector color */
  --sat-setting-bg-color: #2e3440; /* Settings background color */
  --sat-setting-bg-effect: #3b4252; /* Settings options background color */
  --sat-input-hover: #434c5e;
  --sat-search-bar-focus: #434c5f;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #88c0d0 0%, #8fbcbb 100%);
  --sat-accent-color1: #88c0d0;
  --moreapps-hovering-clr: #88c0d0;
  --favorites-hover: #4c566a;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #4c566a; /* Favorite input border color */
  --delete-warning-bg: #d55454; /* Favorite delete button color */
  --switch-color-bg-new: #4c566a;
  --settings-button-outline: #4c566a; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #434c5f; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #434c5e; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
