/*
Saturn Startpage: Open source & free.
v3.0.0 CSS Core
*/

/* Fonts: Everything is loaded locally. */

/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/poppins-v15-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v15-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/poppins-v15-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/poppins-v15-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Saturn's theme engine v3. */

/* Light theme */ 
.light {
  --sat-heading: #000000; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #1a1a1a; /* Every icon and text apart from links and above. */
  --sat-bg: #ffffff; /* Main background */
  --sat-search-shortcuts: #dadada; /* Favorites, app list & search, inputs. */
  --sat-links: #1a1a1a;
  --sat-txt-selector-clr: #303a58;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #eeeeee;
  --sat-setting-bg-effect: #dddddddc;
  --sat-input-hover: #b1b1b1;
  --sat-search-bar-focus: #999999;
  --sat-tooltip-bg: #c0c0c0;
  --default-font: "Poppins", sans-serif;
  --sat-border-radius: 15px;
  --gudmrning-txt: linear-gradient(to right, #000046, #1cb5e0);
  --sat-accent-color1: #017fcd;
  --moreapps-hovering-clr: #2082cd;
  --favorites-hover: #c4c4c4;
  --for-white: #ffffff;
  --add-link-border: rgb(150, 151, 151);
  --settings-warning-bg: rgba(247, 247, 1, 0.322);
  --delete-warning-bg: rgba(231, 19, 19, 0.644);
  --switch-color-bg: #c0c0c0;
  --settings-button-outline: #bbbbbb;
  --new-search-bg-hover-effect: rgb(177, 177, 177);
  --lighter-color: rgb(
    196,
    196,
    196
  ); /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
/* New dark theme */
.dark {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: #0c0d11;
  --sat-search-shortcuts: #13151b;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #262a36;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #0c0d11;
  --sat-setting-bg-effect: #12161d;
  --sat-input-hover: #2b323d;
  --sat-search-bar-focus: #1e232c;
  --sat-tooltip-bg: #181b22;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #4facfe 0%, #6eb8f8 100%);
  --sat-accent-color1: #4facfe;
  --moreapps-hovering-clr: #4190d4;
  --favorites-hover: #232931;
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: #1a1f25;
  --delete-warning-bg: rgba(197, 42, 42, 0.76);
  --switch-color-bg: #2f343d;
  --switch-color-bg-after: #0080e250;
  --settings-button-outline: #232933;
  --new-search-bg-hover-effect: #1e222b;
  --sat-border-radius: 15px;
  --switch-color-bg: #303846de;
  --lighter-color: #191d25; /* Every that needs a light background color */

  /* Transitions */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Space theme */

.space {
  --sat-heading: #ffffff; /* Settings header, settings options title, app list title, favorites title, favorites title */
  --sat-ids: #ffffff; /* Every icon and text apart from links and above. */
  --sat-bg: #0e0e0e; /* Main background */
  --sat-search-shortcuts: #181818; /* Favorites, app list & search, inputs. */
  --sat-links: hsl(0, 0%, 95%); /* Links and stuff */
  --sat-txt-selector-clr: #ffb07d; /* Text selector background color */
  --sat-txt-selector-clr-after: #ffffff; /* Text selector color */
  --sat-setting-bg-color: #0e0e0e; /* Settings background color */
  --sat-setting-bg-effect: rgba(
    24,
    24,
    24,
    0.904
  ); /* Settings options background color */
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222222; /* Tooltip background */
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #ffb07d 0%, #e9772a 100%);
  --sat-accent-color1: #ffb07d;
  --moreapps-hovering-clr: #ffb07d;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(41, 41, 41); /* Favorite input border color */
  --delete-warning-bg: rgba(
    197,
    42,
    42,
    0.76
  ); /* Favorite delete button color */
  --switch-color-bg: #252525;
  --switch-color-bg-after: #ffb07d;
  --switch-color-bg: rgba(48, 48, 48, 0.904);
  --settings-button-outline: #252525; /* The outline color on the open settings button */
  --new-search-bg-hover-effect: #353535; /* New search hover color */
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Linkin park theme (BETA) */

.linkin-park {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: url(/img/rock-legend-bg.png);
  --sat-search-shortcuts: #181818f5;
  --sat-links: hsl(0, 0%, 95%);
  --sat-txt-selector-clr: #686868;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #0e0e0e;
  --sat-setting-bg-effect: rgb(24, 24, 24);
  --sat-input-hover: #2b2b2b;
  --sat-search-bar-focus: #1f1f1f;
  --sat-tooltip-bg: #222;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #e6dada, #274046);
  --sat-accent-color1: #686868;
  --moreapps-hovering-clr: #686868;
  --favorites-hover: rgb(46, 46, 46);
  --for-white: #ffffff;
  --settings-warning-bg: rgba(255, 255, 0, 0.075);
  --add-link-border: rgb(43, 52, 56);
  --delete-warning-bg: rgba(197, 42, 42, 0.76);
  --switch-color-bg: #252525;
  --switch-color-bg-after: #686868;
  --settings-button-outline: #252525;
  --new-search-bg-hover-effect: #2e2e2e;
  --sat-border-radius: 15px;
  --lighter-color: #1f1f1f; /* Every that needs a light background color */

  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

/* Original Fork code */

* {
  /* Reset margins and padding */
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html,
input,
select,
button {
  /* Set body font family and some finicky elements */
  font-family: var(--default-font);
}

body {
  /* Center body in page */
  margin: 0 auto;
  max-width: 750px;
  padding: 2rem;
  border-radius: var(--sat-border-radius);
  overflow-x: hidden;
  background: var(--sat-bg);
  background-position: center;
  background-size: cover;

  /* Main body text */
  color: var(--sat-ids);
  font-size: 1.03rem;
  line-height: 1.5;
  font-family: var(--default-font);
}

::selection {
  /* Set background color for selected text */
  background: var(--sat-txt-selector-clr);
  color: var(--sat-txt-selector-clr-after);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--sat-heading);
  padding-top: 0.875rem;
}

h1 {
  color: var(--sat-heading);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--sat-search-shortcuts);
}

h4,
h5,
h6 {
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.87rem;
}

a {
  text-decoration: none;
  color: var(--sat-links);
}

a:hover {
  color: var(--sat-accent-color1);
  text-decoration: underline;
  transition: var(--transition-speed-fast);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--sat-search-shortcuts);
  border-radius: var(--sat-border-radius);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  background: var(--sat-search-shortcuts);
  padding: 2rem 1.5rem;
  margin: -2rem calc(0px - (50vw - 50%)) 2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  outline: none;
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
  border: 0;
  border-radius: var(--sat-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--sat-ids);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;

  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
}

/* Let the browser load its default font instead of setting one */

code,
samp,
kbd,
pre {
  /* The main preformatted style. This is changed slightly across different cases. */
  background: var(--sat-search-bar-focus);
  border-radius: var(--sat-border-radius);
  padding: 10px 5px;
  font-size: 0.9rem;
  border-radius: 5px;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  /* Make the <details> look more "clickable" */
  padding: 0.6rem 1rem;
  background: var(--lighter-color);
  border-radius: var(--sat-border-radius);
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: 0.75rem;
  transition: var(--transition-speed-fast);
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open] > *:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: "→ ";
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 4px;
}

legend {
  padding: auto 0.5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--sat-search-shortcuts);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--sat-search-shortcuts);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--sat-txt-selector-clr);
  color: var(--sat-txt-selector-clr-after);
}

textarea,
select,
input {
  padding: 14px 14px;
  margin-bottom: 0.5rem;
  background: var(--sat-search-shortcuts);
  color: var(--sat-ids);
  border: none;
  border-radius: var(--sat-border-radius);
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
}

.username-section input:hover,
textarea:hover,
select:hover,
input:hover {
  background-color: var(--sat-input-hover);
  transition: var(--transition-speed-default);
}

textarea:focus,
select:focus,
input:focus {
  background-color: var(--sat-search-bar-focus);
}

img {
  max-width: 100%;
}

/* Saturn Core v3.0.0  */

#add-link-form,
#content {
  background: var(--sat-search-shortcuts);
}

.search-bar:hover {
  background: var(--sat-input-hover);
}
.search-bar:focus {
  background: var(--sat-search-bar-focus);
}

.modal {
  background-color: var(--sat-setting-bg-color);
}

.overlay {
  background: var(--sat-setting-bg-effect);
}

.modal-content,
.overlay-content,
.morecontainer {
  background: var(--sat-setting-bg-color);
}
.setting-button,
.app,
.cuteapps,
.removebtn {
  background: var(--sat-search-shortcuts);
}
.tooltiptext {
  background: var(--sat-tooltip-bg);
}
.gudmorning {
  background-color: var(--gudmrning-txt-bg);
  background-image: var(--gudmrning-txt);
}

/* Hovering animations speed */
#fav-link a:hover,
.snip-wid button,
.overlay,
.setting-button:hover,
.btn-hide2:hover,
.app:hover,
.cuteapps:hover,
.slider:before,
.search-bar:hover,
.search-bar:focus .app:hover .tooltip {
  transition: var(--transition-speed-default);
}

.snip-wid button {
  background-color: var(--sat-setting-bg-effect);
  color: var(--sat-heading);
}

.removebtn:hover,
.snip-wid button:hover,
.setting-button:hover,
.app:hover,
.cuteapps:hover {
  color: var(--for-white); /* force white to fix issues */
}

.app {
  background: var(--sat-search-shortcuts);
  /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
}

.app:hover {
  transform: translate3d(0px, -3px, 0px);
  background-color: var(--moreapps-hovering-clr);
  /* box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); */
}

.cuteapps:hover {
  background-color: var(--moreapps-bg-new);
  border: 3px solid var(--sat-accent-color1);
}

.closebtn:hover {
  border-color: var(--moreapps-hovering-clr);
}

.cuteapps {
  border: 3px solid var(--sat-search-shortcuts);
}

#fav-link a:hover {
  background-color: var(--favorites-hover);
  transition: var(--transition-speed-default);
}

.removebtn:hover {
  background-color: var(--delete-warning-bg);
  transition: var(--transition-speed-default);
}

/* Font color */
.overlay,
.setting-button,
.app,
.cuteapps,
.removebtn,
.tooltiptext,
.snip-wid button,
.setting-button i,
.cuteapps:hover,
#fav-link a:hover,
.container {
  color: var(--sat-ids);
}

/* Everything that needs the accent color */
.typewritter_2,
.settings-dot {
  color: var(--sat-accent-color1);
}

/* Everything that needs a cursor */
.slider,
ul.tabs li,
.app,
#favorite-links:hover,
.close-button,
.new-close-fav {
  cursor: pointer;
}

/* Border radius */
.search-bar,
.modal-content,
.app,
.tooltiptext,
#content,
#fav-link li,
#fav-link img,
#fav-link a,
#add-link-form,
#add-link-form input,
#new-link-button button,
#add-link-form button,
.settings-background,
.settings-background-warning {
  border-radius: var(--sat-border-radius);
}
