/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("../fonts/poppins-v13-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../fonts/poppins-v13-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/poppins-v13-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/poppins-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../fonts/poppins-v13-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../fonts/poppins-v13-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v13-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Light mode */
:root {
  --sat-heading: #000000;
  --sat-ids: #1a1a1a;
  --sat-bg: #ffffff;
  --sat-search-shortcuts: #dadada;
  --sat-search-border: #e5e7eb;
  --sat-icons: #000000;
  --sat-icons-hovr: #111111d8;
  --sat-links: #1a1a1a;
  --sat-links-hovr: #494949;
  --sat-default-button-txt: #ffffff;
  --sat-txt-selector-clr: #303a58;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #eeeeee;
  --sat-setting-bg-effect: #313131dc;
  --sat-setting-close-btn: rgb(182, 182, 182);
  --sat-search-bar-hvr: #dadada;
  --sat-search-bar-focus: #d8d8d8;
  --default-font: "Poppins", sans-serif;
  --sat-default-hoveringspeed: 200ms;
  --sat-border-radius: 10px;
  --sat-shortcuts-hover: #cacaca;
  --sat-modal-app-section: #dbdbdb;
  --gudmrning-txt: linear-gradient(180deg, #054b2d 0%, #014f80 100%);
  --sat-accent-color1: #017fcd;
  --brightness-headerimg: brightness(1);
  --moreapps-hovering-clr: #2082cd;
  --reddit-hover-color: #c4c4c4;
  --for-white: #ffffff;
  /* Multiple transition speeds */
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}
/* Dark mode */
/* Welcome to the dark side! */
[data-theme="dark"] {
  --sat-heading: #ffffff;
  --sat-ids: #ffffff;
  --sat-bg: #0d0f13;
  --sat-search-shortcuts: #191c24;
  --sat-search-border: #15191f;
  --sat-icons: hsl(0, 0%, 95%);
  --sat-icons-hovr: #fafafa;
  --sat-links: hsl(0, 0%, 95%);
  --sat-links-hovr: #919191;
  --sat-default-button-txt: #fcfcfc;
  --sat-txt-selector-clr: #434e74;
  --sat-txt-selector-clr-after: #ffffff;
  --sat-setting-bg-color: #0d0f13;
  --sat-setting-bg-effect: #1e232cde;
  --sat-setting-close-btn: #232933;
  --sat-search-bar-hvr: #232933;
  --sat-search-bar-focus: #1e232c;
  --sat-tooltip-bg: #232933;
  --sat-default-hoveringspeed: 200ms;
  --sat-shortcuts-hover: #232933;
  --sat-modal-app-section: #2329334d;
  --default-font: "Poppins", sans-serif;
  --gudmrning-txt: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --sat-accent-color1: #1ca8ff;
  --moreapps-hovering-clr: #1a659e;
  --reddit-hover-color: #232933;
  --brightness-headerimg: brightness(1.1);
  --for-white: #ffffff;
  --transition-speed-fast: 0.1s;
  --transition-speed-default: 0.2s;
  --transition-speed-slow: 0.3s;
}

* {
  /* Reset margins and padding */
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html,
input,
select,
button {
  /* Set body font family and some finicky elements */
  font-family: var(--default-font);
}

body {
  /* Center body in page */
  margin: 0 auto;
  max-width: 750px;
  padding: 2rem;
  border-radius: 10px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--sat-bg);

  /* Main body text */
  color: var(--sat-ids);
  font-size: 1.03rem;
  line-height: 1.5;
  font-family: var(--default-font);
}

::selection {
  /* Set background color for selected text */
  background: var(--sat-txt-selector-clr);
  color: var(--sat-txt-selector-clr-after);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--sat-heading);
  padding-top: 0.875rem;
}

h1,
h2,
h3 {
  color: var(--sat-heading);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--sat-search-shortcuts);
}

h4,
h5,
h6 {
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 2.23rem;
}

h2 {
  font-size: 1.83rem;
}

h3 {
  font-size: 1.53rem;
}

h4 {
  font-size: 1.23rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.87rem;
}

a {
  color: var(--sat-links);
}

a:hover {
  color: var(--sat-links-hovr);
  transition: var(--sat-default-hoveringspeed);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--sat-search-shortcuts);
  border-left: 5px solid var(--sat-search-border);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  background: var(--sat-search-shortcuts);
  border-bottom: 1px solid var(--sat-search-border);
  padding: 2rem 1.5rem;
  margin: -2rem calc(0px - (50vw - 50%)) 2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  outline: none;
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
  border: 0;
  border-radius: var(--sat-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--sat-default-button-txt);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;

  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
}

code,
pre,
kbd,
samp {
  /* Set the font family for monospaced elements */
  font-family: var(--nc-font-mono);
}

code,
samp,
kbd,
pre {
  /* The main preformatted style. This is changed slightly across different cases. */
  background: var(--sat-search-shortcuts);
  border: 1px solid var(--sat-search-border);
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.9rem;
}

kbd {
  /* Makes the kbd element look like a keyboard key */
  border-bottom: 3px solid var(--sat-search-border);
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  /* Make the <details> look more "clickable" */
  padding: 0.6rem 1rem;
  background: var(--sat-search-shortcuts);
  border: 1px solid var(--sat-search-border);
  border-radius: 15px;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: 0.75rem;
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open] > *:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: "→ ";
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--sat-search-border);
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--sat-search-border);
  border-radius: 4px;
}

legend {
  padding: auto 0.5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--sat-search-border);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--sat-search-shortcuts);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--sat-search-shortcuts);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--sat-txt-selector-clr);
  color: var(--sat-txt-selector-clr-after);
}

textarea,
select,
input {
  padding: 6px 15px;
  margin-bottom: 0.5rem;
  background: var(--sat-search-shortcuts);
  color: var(--sat-ids);
  border: 1px solid var(--sat-search-border);
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* New stuff */
.hover-reddit:hover,
.search-bar:hover {
  background: var(--sat-search-bar-hvr);
}
.search-bar:focus {
  background: var(--sat-search-bar-focus);
}
.modal,
.overlay {
  background: var(--sat-setting-bg-effect);
  color: var(--sat-ids);
}
.modal-content,
.overlay-content,
.morecontainer {
  background: var(--sat-setting-bg-color);
}
.button-modal,
.app,
.cuteapps {
  color: var(--sat-ids);
  background: var(--sat-search-shortcuts);
}
.button-modal:hover {
  background: var(--moreapps-hovering-clr);
}
.app .tooltiptext {
  color: var(--sat-ids);
  background: var(--sat-shortcuts-hover);
}

.dark-mode-bg,
.dark-mode-bg2,
.dark-mode-bg3,
.dark-mode-bg5 {
  color: var(--sat-ids);
  background: var(--sat-modal-app-section);
}
.gudmorning {
  background-color: var(--gudmrning-txt-bg);
  background-image: var(--gudmrning-txt);
}

/* Hovering animations speed */
.overlay,
.button-modal:hover,
.btn-hide2:hover,
.app:hover,
.cuteapps:hover,
.slider:before,
.search-bar:hover,
.search-bar:focus .app:hover .tooltip {
  transition: var(--transition-speed-default);
}

/* Neon effect */

.button-modal:hover,
.app:hover,
.cuteapps:hover,
.hover-reddit:hover {
  color: var(--for-white); /* force white to fix issues */
}

.app {
  background-color: var(--moreapps-hovering-clr);
  background: var(--sat-search-shortcuts);
  transition: transform 0.1s ease, box-shadow 0.1s ease,
    background-color 0.1s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.app:hover {
  transform: translate3d(0px, -3px, 0px);
  background-color: var(--moreapps-hovering-clr);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* anim 2 */

.cuteapps:hover {
  background-color: var(--moreapps-hovering-clr);
  border-color: var(--moreapps-hovering-clr);
}
.closebtn:hover {
  border-color: var(--moreapps-hovering-clr);
}
.cuteapps {
  border: 3px solid var(--sat-shortcuts-hover);
}
.headerimg {
  filter: var(--brightness-headerimg);
}

.hover-reddit:hover {
  background-color: var(--moreapps-hovering-clr);
  cursor: pointer;
  transition: var(--transition-speed-default);
}
