### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.web-extension-id
*web-ext-artifacts

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
