/* Slide Up and Fade In Animation */
.slide-up-fade-in {
    animation: slide-up-fade-in 0.2s forwards;
    transform-origin: 50% 50%;
    opacity: 0;
  }
  
  @keyframes slide-up-fade-in {
    0% {
      opacity: 0;
      transform: translate(0, 40px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  /* Fade In Animation */
  .fade-in {
    animation: fadeIn 0.3s linear forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
