/* 
========
+ Add your custom css code here. +
+ Think this should be in Saturn? Make a pull request +
========
*/

input[type="file"] {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: var(--lighter-color);
  border-radius: var(--sat-border-radius);
  border: 1px solid var(--favorites-hover);
  outline: 0px !important;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--sat-accent-color1);
  padding: 10px 20px;
  color: var(--for-white);
  border-radius: var(--sat-border-radius);
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: var(--sat-accent-color-lighter);
}

/* Fix favorites header bug by applying margin */
.fix-favorites-header {
  margin-top: 20px !important;
}

/* Define the styles for the popup */
#kpress_popup {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -30%);
  padding: 10px;
  border: 1px solid var(--lighter-color);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background-color: var(--sat-setting-bg-color);
  z-index: 9999;
}

/* Define a "hidden" class to hide the popup */
.hidden {
  display: none;
}
