/* 
========
+ Add your custom css code here. +
+ Think this should be in Saturn? Make a pull request +
+ All code here will eventually make its way over to its
proper css file. 
========
*/

#chromium-browser-support {
  display: none;
  background-color: rgba(247, 243, 1, 0.164);
  padding: 10px;
  border-radius: 10px;
}
