/* 
=/=/=/SATURN STARTPAGE=/=/=/=
+ styles.css +
+ This file contains every CSS needed to make Saturn look the way
its supposed to. 
+ Version: 3.1 +
=/=/=/=/=/=/=
*/

/* 
========
+ Search bar +
========
*/
.search-bar {
  width: 100%;
  font-size: 1.3em;
  padding: 20px 48px;
  text-align: left;
  font-weight: 500;
  outline: none;
  border: 3px solid transparent;
  border-radius: 20px;
}

/* 
========
+ Adding transparency to multiple UI elements. +
========
*/

.dropbtn,
.favorite-button,
.setting-button,
#apps,
#content,
.search_block form {
  opacity: 0.95;
}
/* 
========
+ The logo inside search engine logo +
========
*/

.search-engine-logo {
  padding: 12px 10px;
  position: absolute;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  margin-top: 4px;
}

.search-engine-logo:hover {
  transform: scale(1.1);
}

.search-bar:hover {
  background-color: var(--new-search-bg-hover-effect);
  border: 3px solid var(--sat-accent-color1);
}

.search-bar:focus {
  border: 3px solid var(--sat-accent-color1);
  background-color: var(--new-search-bg-hover-effect);
}

/* 
========
+ Header good morning text and time +
========
*/

.good_morning {
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}

.date {
  font-weight: 700;
  text-align: center;
  font-size: 55px;
}

.time {
  font-weight: 700;
  text-align: center;
  font-size: 85px;
  margin-bottom: -10px;
  margin-top: -30px;
}

.time span {
  color: var(--sat-accent-color1);
  animation: blinker 1s linear infinite;
}

/* New blinker effect! */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* 
========
+ Setting title + 
========
*/

.settings-title {
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
  padding: 20px;
  margin-top: 15px;
}

/* 
========
+ The modal itself +
========
*/

.fav_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 150ms, opacity 150ms 0s, transform 150ms;
  /*=== Effect 1 ===*/
  transform: translateY(10%);
  z-index: 2;
}

.favorites_modal_content {
  /* Modal */
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 15px;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
  border: 1px solid var(--settings-button-outline);
}

/* Modal border radius */
.favorites_modal_content {
  width: 35rem;
  height: 23rem;
  border-radius: 20px;
}

.show-favorite-modal {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 150ms 0s, transform 150ms;
  /*=== Effect 1 ===*/
  transform: translateY(0);
}

/* 
========
+ Everything switch related +
========
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  margin-top: -25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lighter-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  right: 3px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: var(--sat-accent-color1);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--sat-accent-color1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.control-button:hover {
  transition: var(--transition-speed-fast);
  outline: 4px solid var(--settings-button-outline);
}

/* 
========
+ App list v2.5 +
========
*/

#apps {
  margin-bottom: 15px;
  margin-top: 20px;
  width: 104%;
  align-items: left;
}

.app {
  margin: 5px 2px;
  padding: 15px 45px;
  border-radius: 20px;
  border: 3px solid transparent;
}

.app i {
  font-size: 2.3rem;
  right: 100%;
}
/* 
========
+ Apps list & apps text +
========
*/
.app {
  position: relative;
  display: inline-block;
}

.app span {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
}

.app svg {
  margin: 0;
  position: absolute;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40%;
}

.app i {
  position: relative;
  bottom: 108%;
}

.page-content,
.app-content {
  display: none;
}

.page-content.current,
.app-content.current {
  display: inherit;
}

/* 
========
+ The iOS 15 like background in settings. +
========
*/

.settings-background {
  padding: 10px;
  margin: 5px;
  background: var(--sat-setting-bg-effect);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.settings-background-warning {
  padding: 10px;
  background: #ffcc00;
  color: #333333;
  border-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

/* 
========
+ Theme Icons (No longer figma made, instead we're using a screenshot of the theme) +
========
*/

.theme-icon {
  margin: -1.5px;
  border-radius: 13px;
  height: 4.3rem;
  width: 8.3rem;
  margin-bottom: 0.1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

div.theme-container {
  display: table;
  padding: 2.5px 0px;
  margin: 2px;
  border-radius: var(--sat-border-radius);
  display: inline-block;
  text-align: center;
  border: 2px solid var(--lighter-color);
  cursor: pointer;
  background-color: var(--lighter-color);
}

.theme-container:hover {
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
  background-color: var(--bg-accent-color-lr-hover);
  border: 2px solid var(--sat-accent-color1);
}

.theme-name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-top: -0.5px;
}

.theme-title {
  font-weight: 500;
  margin: 5px;
}

/* 
========
+ The save button for username feature +
========
*/

.save-button {
  padding: 10px 15px;
  background: var(--lighter-color);
  color: var(--sat-ids);
  border-radius: 13px;
}

.loading-svg {
  width: 40px;
  height: 35px;
  display: inline;
  position: relative;
  top: 0.1em;
  margin: -10px;
}

.save-button:hover {
  background: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}



/* 
========
+ The where to next text inside more apps. (top middle one) +
========
*/
.username-section input {
  background-color: var(--lighter-color);
  padding: 12px;

}

/* 
========
+ Consistent UI / Input bars +
========
*/

.favorites-search input,
.username-section input {
  border: 2px solid transparent;
}

/* added this to make the hover animation similar */
.favorites-search input:hover,
.favorites-search input:focus,
.fav_modal input:hover,
.fav_modal input:focus,
.username-section input:focus,
.username-section input:hover {
  border: 2px solid var(--sat-accent-color1);
  transition: var(--transition-speed-fast);
}

.fav_modal input {
  width: 100%;
  padding: 15px;
  color: var(--sat-ids);
  outline: none;
  border: 2px solid transparent;
  font-size: 0.91em;
  margin-top: 7px;
}

/* 
========
+ Favorites search feature +
========
*/

.favorites-search input {
  background: var(--lighter-color);
  padding: 13px 13px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 13px;
  margin-right: 10px;
  width: 35%;
}

.favorites-search {
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
}

.favorite-button {
  padding: 10px 15px;
  color: var(--sat-ids);
  background: var(--lighter-color);
  margin-bottom: 10px;
}

.favorite-button:hover {
  background-color: var(--lighter-color);
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}

/* 
========
+ Apps List Category +
========
*/
.apps-category {
  margin-top: 20px;
  margin: 0px;
}

ul.apps-category {
  padding: 0px;
  list-style: none;
}

ul.apps-category li {
  font-size: 16px;
  background: none;
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: var(--sat-border-radius);
}

ul.apps-category li:hover {
  background: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}

ul.apps-category li.current {
  background-color: var(--sat-search-shortcuts);
  color: var(--sat-accent-color1);
  font-weight: 500;
}

/* 
========
+ Tabs (Settings navigation) +
========
*/

.tabs {
  margin: -10px;
  margin-top: 15px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 99px;
  border-radius: var(--sat-border-radius);
}

.tab-content {
  margin-left: 190px; /* Same as the width of the sidebar */
  margin-top: 30px;
  padding: 0px 10px;
}

/* 
========
+ New About section - simple center +
========
*/

.aboutwidgets,
.new-about,
.new-about img {
  text-align: center;
}

.socials {
  margin-bottom: 20px;
  margin-top: 30px;
}

/* 
========
+ Optimizations for favorites features.
+ favorite support +
+ WIP, I'm currently adding more and more support. +
========
*/
/* Improved image support so now they act as icons */

#fav-link img,
#fav-link svg {
  width: 20px;
  height: 20px;
  outline: none;
  vertical-align: middle;
  margin: 0px;
}

/* Improving SVG support */
#fav-link svg {
  filter: var(--svg-invert);
}

#fav-link img {
  background: transparent; /* This should fix some backgrounds having a white background instead of being transparent. */
  padding: 3px;
}

/* Iframes will be hidden by default because they don't work on firefox. */

#fav-link iframe {
  border: 3px solid var(--delete-warning-bg);
}

#fav-link a {
  text-decoration: none;
  padding: 10px 10px;
  margin: -10px;
  color: var(--sat-ids);
}

/* 
========
+ Favorites V3. +
========
*/

#favorite-links:hover {
  transition: var(--transition-speed-default);
}

ul {
  padding: 0;
  margin: 0px;
}

ul li {
  margin: 0;
  list-style: none;
}

.pinbtn,
.removebtn {
  float: right;
  margin-top: -5px;
  padding: 10px;
  border-radius: 13px;
  border: 1px solid transparent;
}
.newtabbtn {
  float: right;
  margin-top: -5px;
  padding: 10px;
  border-radius: 13px;
  visibility: visible; /* Force visibility to fix issues */
}
.pinbtn:hover,
.newtabbtn:hover {
  background-color: var(--bg-accent-color-lr-hover);
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-default);
}

#content {
  padding: 10px;
  overflow: hidden;
}

#fav-link li {
  padding: 10px;
}
#fav-link li:last-child {
  border: none;
}

/* Every close button uses this */

.close-button {
  background-color: var(--lighter-color);
}

.close-button {
  font-size: 22px;
  float: right;
  padding: 7px 7px;
  margin: 10px;
  border-radius: 100px;
}

.close-button i {
  display: block;
  text-align: center;
}

.close-button:hover {
  color: var(--close-button-color);
  background-color: var(--delete-warning-bg);
  transition: var(--transition-speed-default);
}

/* 
========
+ "Get wallpaper websites.." +
========
*/

.fav_ptgi_category {
  margin-top: 9px;
  margin-bottom: 9px;
}

ul.fav_ptgi_category {
  padding: 0px;
  list-style: none;
}

ul.fav_ptgi_category li {
  font-size: 15px;
  background: var(--sat-search-shortcuts);
  color: var(--lighter-text-color);
  display: inline-block;
  padding: 6px 9px;
  cursor: pointer;
  border-radius: var(--sat-border-radius);
  border: 1px solid var(--lighter-color);
}

ul.fav_ptgi_category li img {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  padding-right: 5px;
}

.fav_ptgi_btn:hover {
  color: var(--sat-accent-color1);
  transition: var(--transition-speed-fast);
  background-color: var(--bg-accent-color-lr);
  border: 1px solid var(--bg-accent-color-lr-hover);
}

/* 
========
+ Snackbar +
========
*/

#saveMsgBar {
  background-color: rgb(232, 232, 232);
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: left;
  margin: 20px;
  padding: 10px;
  font-size: 14.5px;
  border-radius: 15px;
  color: #000;
  font-weight: 600;
}

#saveMsgBar.show {
  visibility: visible;
  -webkit-animation: slide-up-fade-in 0.5s, fadeout 0.5s 2.5s;
  animation: slide-up-fade-in 0.5s, fadeout 0.5s 2.5s;
  bottom: 0 !important;
  /* Hack to make Snackbar stay at the 
  bottom of the page */
}

/* 
========
+ This fixes a major hover issue related to favorites. +
+ This code just prevents a small bar from 
appearing when the user hovers on the open in new tab button.
+ This is a "hack" and will need to be completely fix in the future. +
========
*/

.hide_fav_bar {
  visibility: hidden;
}

.hide_fav_bar:hover {
  visibility: hidden;
}

/* 
========
+ Used to fix issues with new search icons +
+ Works on any SVG +
========
*/

.se_icon {
  filter: var(--svg-invert);
}




/* 
========
+ Quote +
========
*/
.quote {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
  margin-top: -10px;
}

.quotes_bg {
  padding: 9px;
  margin-top: 2px;
  border-radius: var(--sat-border-radius);
  display: inline-block;
}
.small_text {
  font-size: 13px;
  font-weight: 500;
}

.colored i {
  color: var(--sat-accent-color1) !important;
}

/*
========
+ New settings layout & design improvements +
========
*/

.settings-item-title {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px !important;
}

.settings-item-under-title {
  font-size: 17px;
  margin-top: -15px;
  margin-left: 10px !important;
}

.description {
  color: var(--sat-lighter-ids) !important;
  opacity: 0.9;
  font-size: 15.5px;
}

/* Used to fix some bugs */

.center-content {
  display: inline-block;
}

/* Set wallpaper button */
.sqaure_box_redaccent,
.sqaure_box {
  background-color: var(--lighter-color);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--sat-border-radius);
  font-size: 1.7rem;

  border: 1px solid transparent;
}

.sqaure_box:hover {
  transition: var(--transition-speed-default);
  background-color: var(--favorites-hover);
  color: var(--sat-accent-color1);
  border: 1px solid var(--sat-accent-color-lighter);
}

.sqaure_box span {
  font-size: 12px;
  font-weight: 500;
  margin: 3px;
}

/* Container used to align Wallpaper buttons next to each other. */
.cbw_container {
  display: flex;
  flex-direction: row;
}

/* Used to make any text red */
.red_text {
  color: var(--delete-warning-bg) !important;
}

.red_text:hover {
  border: 1px solid var(--delete-warning-bg);
}

.danger_red {
  background-color: #d752521e !important;
  color: var(--delete-warning-bg) !important;
}

.danger_red:hover {
  transition: var(--transition-speed-default);
  background-color: #d752524b !important;
  color: var(--delete-warning-bg) !important;
}

.green_background {
  background-color: #39c6781e !important;
  color: #39c678 !important;
}

/* 
========
+ FOCUS UI v1.0 +
========
*/

/* Main UI */

.focus_ui {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* Focus Span (used to make checkbox look/feel like button) */
.focus_ui span {
  padding: 14px 25px;
  border-radius: 30px;
  background-color: var(--lighter-color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  box-shadow: var(--drop-shadow-color);
}

/* Focus UI <i> icons */
.focus_ui i {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 5px;
}

/* Hack used to hide checkbox */
.focus_ui label input {
  position: absolute;
  display: none;
}

.study input:checked + span {
  background-color: #f29849;
}

.programming input:checked + span {
  background-color: #9e57e0;
}
.relaxation input:checked + span {
  background-color: #eb5757;
}

/* The animation when focus button is clicked */

.focus_ui input:checked + span i::before {
  transition: var(--transition-speed-default);
  animation: fadeIn ease 200ms;
  content: "ON";
  font-weight: 700 !important;
  font-size: 12px;
  font-family: var(--default-font);
  margin: 2px;
}

.focus_ui input:checked + span i::before,
.focus_ui input:checked + span {
  color: var(--for-white);
}

.focus_ui input:hover + span i {
  margin-left: 44px;
  transition: var(--transition-speed-default);
}

.focus_ui input + span i {
  margin-left: 36px;
  transition: var(--transition-speed-default);
}

/* Big icons */

.focus_mode_icons i {
  display: flex;
  justify-content: center;
  font-size: 32px;
  padding: 10px;
}

.focus_mode_icons img {
  display: block;
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.focus_mode_icons {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
}

.focus_status {
  display: none;
}

.connection_status,
.focus_status {
  width: 6%;
  background-color: var(--bg-accent-color-lr);
  border: 2px dotted transparent;
  color: var(--sat-accent-color1);
  animation: fadeIn ease 190ms;
  cursor: default;
}

.focus_status:hover {
  background-color: var(--bg-accent-color-lr-hover);
  border: 2px dashed var(--sat-accent-color1);
  color: var(--sat-accent-color1);
}

/* 
========
+ New ABOUT Section UI +
========
*/

.version-text {
  background-color: var(--bg-accent-color-lr);
  border-radius: 20px;
  padding: 5px 20px;
  color: var(--sat-accent-color1);
  font-weight: 600;
  text-decoration: none !important;
}

.version-text:hover {
  background-color: var(--bg-accent-color-lr-hover);
}

.aboutwidgets-container {
  padding: 15px 11px;
  border-radius: var(--sat-border-radius);
  background-color: var(--lighter-color);
  margin: auto;
  width: 80%;
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--drop-shadow-color);
  margin-top: 15px;
  text-decoration: none !important;
}

.aboutwidgets-container i {
  margin-left: auto;
  margin-right: 0;
  padding-top: 3px;
}

.focus_ui span:hover,
.aboutwidgets-container:hover {
  background-color: var(--favorites-hover);
  transition: var(--transition-speed-default);
  color: var(--sat-ids);
}

.lk_container_top {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.lk_container_bottom {
  margin-top: 2px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* 
========
+ Dropdown MENU +
+ STABLE 0.8S +
========
*/

/* Button used to open dropdown menu */
.dropbtn {
  cursor: pointer !important;
  outline: none;
  padding: 11px 13px;
  border-radius: var(--sat-border-radius);
  outline: 4px solid transparent; /* This should be remove for a much more optimized version */
  font-weight: 500;
  background-color: var(--sat-search-shortcuts);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--sat-setting-bg-color);
  min-width: 195px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
  border: 1px solid var(--lighter-color);
  border-radius: var(--sat-border-radius);
}

.dropdown-content a {
  color: var(--sat-ids);
  border-radius: 10px;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  cursor: default !important;
  font-weight: 500;
  font-size: 14px;
  margin: 3px;
  cursor: pointer !important;
}

/* Give report bug a red accent */

.removebtn:hover,
.dropdown_redaccent:hover {
  background-color: #d752521e !important;
  color: var(--delete-warning-bg) !important;
}

.dropdown-content kbd {
  background-color: var(--lighter-color);
  font-size: 10px;
  border-radius: 5px;
}

.dropdown-content i {
  font-size: 1.2em;
  position: relative;
  top: 0.08em;
}

.dropdown-content svg {
  width: 12px;
  position: relative;
  top: 0.1em;
  margin-right: 2px;
  margin-left: 3px;
  filter: var(--svg-invert);
}

.dropdown-content a:hover {
  background-color: var(--lighter-color);
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: slide-up-fade-in ease 200ms;
}

.dropdown:hover .dropbtn {
  transition: var(--transition-speed-fast);
  outline: 4px solid var(--settings-button-outline);
  color: var(--sat-ids);
}

.dropdown-seperator {
  width: 100%;
  text-align: left;
  line-height: 0.1em;
  margin: 12px 0 12px;
  border-bottom: 1px solid var(--settings-button-outline);
  font-size: 14px;
}

.dropdown-seperator span {
  background-color: var(--sat-setting-bg-color);
  padding: 0 10px;
}

.notification-dot {
  height: 10px;
  margin-left: 35px;
  width: 10px;
  background-color: #39c678;
  border-radius: 50%;
  display: inline-block;
}
.settings-seperator span {
  font-weight: 600;
  font-size: 16px;
  margin-left: -10px;
  background-color: var(--sat-setting-bg-effect) !important;
}

.settings-nav-separator span {
  font-weight: 600;
  font-size: 12.5px;
  color: var(--sat-lighter-ids);
  margin-left: 5px;
  background: var(--sat-setting-bg-color) !important;
}

.search-results {
  text-align: center;
  line-height: 2em;
  margin: 12px 0 12px;
  border-bottom: 1px solid var(--settings-button-outline);
  margin-bottom: 15px;
  margin-top: 25px;
}

.search-results p {
  margin-top: -5px;
}

.search-results span {
  background-color: var(--sat-search-shortcuts) !important;
  color: var(--sat-ids);
}

.search-results i {
  font-size: 1.6em;
  color: var(--sat-accent-color1);
}

/* Favorites input title */
.fav_title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.button-container {
  padding-top: 10px;
}
.sat-header {
  padding-top: 100px;
}

label span {
  font-size: 16px;
}

.connection_status {
  display: none;
}

/* 
========
+ Favorites UPLOAD +
========
*/

input[type="file"] {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: var(--lighter-color);
  border-radius: var(--sat-border-radius);
  border: 1px solid var(--favorites-hover);
  outline: 0px !important;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--sat-accent-color1);
  padding: 10px 20px;
  color: var(--for-white);
  border-radius: var(--sat-border-radius);
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: var(--sat-accent-color-lighter);
}

/* Fix favorites header bug by applying margin */
.fix-favorites-header {
  margin-top: 20px !important;
}

/* 
========
+ Kpress +
+ CSS that styles kpress feature. +
========
*/

/* Define the styles for the popup */
#kpress_popup {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -30%);
  padding: 10px;
  border: 1px solid var(--lighter-color);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background-color: var(--sat-setting-bg-color);
  z-index: 9999;
}

/* Define a "hidden" class to hide the popup */
.hidden {
  display: none;
}
